#### Python Lists

##### Python Lists are ordered, changeable/mutable and allows duplicate members

In [1]:
l = [] # empty list in Python
type(l)

list

In [2]:
l = [1,2,3,4,5]
print(l[1], l[-1], l[2:4], l[:2]) # accessing individual elements

2 5 [3, 4] [1, 2]

In [3]:
l[1] = 'changed'
print(l) # the list can hold multiple data types

[1, 'changed', 3, 4, 5]

In [4]:
l.append(6) # add at the last location
l.insert(0, 'Zero') # insert at location 0
l.remove(3) # remove the element 
print(l)

['Zero', 1, 'changed', 4, 5, 6]

In [5]:
l.pop() # remove the last element 
del l[0] # delete based on index
print(l)

[1, 'changed', 4, 5]

In [6]:
print(l.index('changed')) # get the index of element specified

1

In [7]:
l.clear() # delete the entire list 
print(l)

[]

##### Working with multiple lists

In [8]:
l1 = [1,2,3,4,5]
l2 = ['six','seven','eight','nine','ten']

In [9]:
l1.extend(l2) # adds the elements of 2nd list to the first one inplace.

In [10]:
l1

[1, 2, 3, 4, 5, 'six', 'seven', 'eight', 'nine', 'ten']

In [11]:
l3 = l1 + l2 # add the elements but transposes the list

In [12]:
l3

[1,
 2,
 3,
 4,
 5,
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

##### Iterating over a list

In [13]:
for element in l1:
    print(element, end=",")

1,2,3,4,5,six,seven,eight,nine,ten,

In [14]:
print(sorted(l1, reverse=True))

TypeError: '<' not supported between instances of 'int' and 'str'

In [19]:
print(sorted([str(element) for element in l1], reverse=True))

['ten', 'six', 'seven', 'nine', 'eight', '5', '4', '3', '2', '1']

#### Python Tuples

##### Tuples in python are like lists just that they are immutable

In [20]:
t = ()
type(t)

tuple

In [21]:
t = 1,2,3,4,5
type(t)

tuple

In [22]:
t = ((1,2,3),('four','five','six')) # nesting of tuples
t

((1, 2, 3), ('four', 'five', 'six'))

In [23]:
t = (1,2)*5 # repition is allowed in tuples
t

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [24]:
print(t[0]) # accessing element of list 
t[0] = 5 # lists are immutable

1

TypeError: 'tuple' object does not support item assignment

In [26]:
t1, t2 = ((1,2,3), ('four','five','six')) # unpacking of tuples
print(t1, t2)

(1, 2, 3) ('four', 'five', 'six')

In [27]:
t1, *t2 = (1,2,3,4,5) 
print(t1,t2)

1 [2, 3, 4, 5]

In [28]:
t3 = zip([1,2,'one'],[3,4,'two'],[5,6,'three']) # takes an element from each list and forms tuples
list(t3)

[(1, 3, 5), (2, 4, 6), ('one', 'two', 'three')]

In [29]:
t1 = ['one','two','three','four']
for idx, pair in enumerate(t1):
    print(idx, pair)

0 one
1 two
2 three
3 four

#### Python Sets

##### Sets in python are unordered, mutable and  no duplicate elements

In [30]:
s = {1,2,3}
type(s)

set

In [31]:
s.add(4)
s

{1, 2, 3, 4}

In [32]:
fs = frozenset(s) # these are like sets just that are immutable
type(fs)

frozenset

In [33]:
fs.add(4)

AttributeError: 'frozenset' object has no attribute 'add'

In [34]:
python_datatypes1 = {'lists','tuples','sets','frozenset'}
python_datatypes2 = {'sets','dictionary','collections'}
python_datatypes1.union(python_datatypes2) # OR operator

{'collections', 'dictionary', 'frozenset', 'lists', 'sets', 'tuples'}

In [35]:
python_datatypes1.intersection(python_datatypes2) # AND operator

{'sets'}

In [36]:
python_datatypes1.difference(python_datatypes2) # - operator

{'frozenset', 'lists', 'tuples'}

###### Why are Sets faster
Sets are implemented using hash tables. Whenever you add an object to a set, the position within the memory of the set object is determined using the hash of the object to be added. When testing for membership, all that needs to be done is basically to look if the object is at the position determined by its hash, so the speed of this operation does not depend on the size of the set. For lists, in contrast, the whole list needs to be searched, which will become slower as the list grows.

#### Python Dictionaries

##### Python Dicts are unordered collection of data values used to store key:value pairs 
Values in a dictionary can be of any datatype and can be duplicated, whereas keys can’t be repeated and must be immutable.

In [37]:
d = {}
type(d)

dict

In [38]:
d = {"adam":1, "cora":[1,2,3], "zing":{'a','b'}, 1: "peru"}
d

{'adam': 1, 'cora': [1, 2, 3], 'zing': {'a', 'b'}, 1: 'peru'}

In [39]:
for key, value in d.items():
    print(key, value)

adam 1
cora [1, 2, 3]
zing {'a', 'b'}
1 peru

In [2]:
d = {"adam":1, "cora":[1,2,3], "zing":{'a','b'}}
print(sorted(d, reverse=True))

['zing', 'cora', 'adam']

In [3]:
d['adams']

KeyError: 'adams'

In [5]:
d.get('adams', 'Not present') # safely accessing the dict elements by key

'Not present'

In [8]:
d.update({'adams':2})
d

{'adam': 1, 'cora': [1, 2, 3], 'zing': {'a', 'b'}, 'adams': 2}

In [9]:
d['adams'] = 3
d

{'adam': 1, 'cora': [1, 2, 3], 'zing': {'a', 'b'}, 'adams': 3}

In [10]:
del d['adams']
d

{'adam': 1, 'cora': [1, 2, 3], 'zing': {'a', 'b'}}

##### Iterating over a dictionary

In [11]:
for key, value in d.items():
    print(f"Key - {key}, Value - {value}")

Key - adam, Value - 1
Key - cora, Value - [1, 2, 3]
Key - zing, Value - {'b', 'a'}

#### Python Collections

##### Counter

In [18]:
l = ['UK','US','UK','Asia','Africa','US','Australia']

In [19]:
from collections import Counter
Counter(l)

Counter({'UK': 2, 'US': 2, 'Asia': 1, 'Africa': 1, 'Australia': 1})

In [22]:
Counter(l).most_common(2)

[('UK', 2), ('US', 2)]

##### Default Dict

In [47]:
from collections import defaultdict
dd = defaultdict(int) # we can also pass difference default values like lambda: vanilla
d = {}
l = ['adam','irine','irine','adam','irine','adam','adam','adam']

In [48]:
for element in l:
    if element not in d:
        d[element] = 1
    else:
        d[element] += 1
print(d)

{'adam': 5, 'irine': 3}

In [49]:
for element in l:
    dd[element] += 1
dd

defaultdict(int, {'adam': 5, 'irine': 3})

In [50]:
dd.popitem() # to remove the last inserted item. From Python 3.7 all dictionaries are ordered.

('irine', 3)

##### named tuples

these are tuples and like dictionaries contain keys plus are hashed to a particular value

In [53]:
from collections import namedtuple

DateDetails = namedtuple('DateDetails', ['date', 'stop', 'riders']) # names for the element specified here

# Create the empty list: labeled_entries
labeled_entries = []

entries =  [('01/04/2015', 'Division/Milwaukee', '100'),
 ('01/05/2015', 'Division/Milwaukee', '120'),
 ('01/06/2015', 'Division/Milwaukee', '130'),
 ('01/07/2015', 'Division/Milwaukee', '110'),
 ('01/08/2015', 'Division/Milwaukee', '105'),
 ('01/09/2015', 'Division/Milwaukee', '115')]


# Iterate over the entries
for date, stop, riders in entries:
    # Append a new DateDetails namedtuple instance for each entry to labeled_entries
    labeled_entries.append(DateDetails(date, stop, riders))
    
# Print the first 5 items in labeled_entries
print(labeled_entries[:5])

[DateDetails(date='01/04/2015', stop='Division/Milwaukee', riders='100'), DateDetails(date='01/05/2015', stop='Division/Milwaukee', riders='120'), DateDetails(date='01/06/2015', stop='Division/Milwaukee', riders='130'), DateDetails(date='01/07/2015', stop='Division/Milwaukee', riders='110'), DateDetails(date='01/08/2015', stop='Division/Milwaukee', riders='105')]

#### Python Date Times

##### string to date times

In [55]:
# Import the datetime object from datetime
from datetime import datetime

dates_list = ['01/10/2019','01/11/2019','01/12/2019','01/13/2019']

# Iterate over the dates_list 
for item in dates_list:
    # Convert each date to a datetime object: date_dt
    date_dt = datetime.strptime(item, "%m/%d/%Y")
    
    # Print each date_dt
    print(date_dt, type(date_dt))

2019-01-10 00:00:00 <class 'datetime.datetime'>
2019-01-11 00:00:00 <class 'datetime.datetime'>
2019-01-12 00:00:00 <class 'datetime.datetime'>
2019-01-13 00:00:00 <class 'datetime.datetime'>

##### creating datetime objects

In [56]:
# Import datetime from the datetime module
from datetime import datetime

# Compute the local datetime: local_dt
local_dt = datetime.now()

# Print the local datetime
print(local_dt)

# Compute the UTC datetime: utc_dt
utc_dt = datetime.utcnow()

# Print the UTC datetime
print(utc_dt)

2019-11-29 11:48:50.497700
2019-11-29 11:48:50.497928

##### Working with timezones

In [61]:
from pytz import timezone

# Create a Timezone object for Chicago
chicago_usa_tz = timezone('US/Central')

# Create a Timezone object for New York
ny_usa_tz = timezone('US/Eastern')

print('US Central - ', local_dt.replace(tzinfo=chicago_usa_tz))
print('US Eastern - ', local_dt.astimezone(ny_usa_tz))

US Central -  2019-11-29 11:48:50.497700-05:51
US Eastern -  2019-11-29 06:48:50.497700-05:00

In [63]:
# Import timedelta from the datetime module
from datetime import timedelta

print(local_dt - timedelta(days=30))

2019-10-30 11:48:50.497700